body img{
    height: 200px;
    padding: 10px;
}

.divProdutos{
    position: relative;
    left: 23%;
    margin: 0 0 60px;    
    height: 220px;
    width: 200px;    
    background: #ffffff;
    box-shadow: 0 1px 5px black;
    border-radius: 10px;
}

.divProdutos p {    
    background: #F0F0F0;
    width: 200px;
    position: relative;
    left: 10%;
    border-radius: 10px;
    box-shadow:  inset 0 0 2px black;
}

.nomeProduto{
    position: relative;
    right: 10%;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    top: 0%;
    width: 235px;
    color: #636363;
    bottom: 51px;
}

.nav-pag{
    position: relative;
    left:23%;   
    height: 30px;
    width: 200px;
    margin-bottom: 15%;
    border-radius: 10px;
    color: #636363;
    background-color: white;
    box-shadow: 0 0 2px black;
}

.nav-pag:hover{
    transition: 1s;
    box-shadow: 0 0 10px #636363;
}

.nav-pag ol li {
    padding: 5px;
}
/* SmartPhone*/

@media screen and (min-width:375px){
    .divProdutos{
        left: 27%;
    }
    .nav-pag{
        left: 25%;
    }
}

@media screen and (min-width:500px){
    .divProdutos{
        left: 33%;
    }
    .nav-pag{
        left: 33%;
    }
}

/* Tablet */
@media screen and (min-width:560px){

    .divProdutos{
        position: absolute;
        margin: 0 0 10%;
    }

    #divProdutos01{
        left: 10%;
        top: 25%;
    }

    #divProdutos02{
        left: 55%;
        top: 25%;       
    }

    #divProdutos03{
        left: 10%;
        top: 65%;
        
    }

    #divProdutos04{
        top: 65%;
        left: 55%;
    }

    #divProdutos05{
        left:10%;
        top: 105%
    }

    #divProdutos06{
        left: 55%;
        top: 105%;
    }
    .nav-pag{
        position: absolute;
        top: 145%;
       
    }
}

/*
@media screen and (min-width:700px){
    .divProdutos{
        position: absolute;
        margin: 0 0 10%;
    }

    #divProdutos01{
        left: 15%;
        top: 20%;
    }

    #divProdutos02{
        left: 55%;
        top: 20%;       
    }

    #divProdutos03{
        left: 15%;
        top: 55%;
        
    }

    #divProdutos04{       
        left: 55%;
        top: 55%;
    }

    #divProdutos05{
        top: 95%;
        left:15%;
        
    }

    #divProdutos06{
        top: 95%;
        left: 55%;        
    }
    .nav-pag{
        position: absolute;
        top: 135%;
       
    }
}*/
/* PC */

@media screen and (min-width:700px){

    #divProdutos01{
        left: 10%;
    }

    #divProdutos02{
        left: 40%;        
    }

    #divProdutos03{
        left: 70%;
        top: 25%;
    }

    #divProdutos04{
        left: 10%;        
    }

    #divProdutos05{
        left: 40%;
        top: 75%;
    }
}

@media screen and (min-width:1440px){
    #divProdutos01{
        left: 13%;
    }

    #divProdutos02{
        left: 33%;
        bottom: 265px;
    }

    #divProdutos03{
        left: 53%;
        bottom: 628px;
    }

    #divProdutos04{
        left: 73%;
        top: 25%;
    }

    #divProdutos05{
        left: 13%;       
    }
}